body {
    padding: 50px 0px;
}

h4{
background-color: #d7ecf1;
font-weight: bold;
}

.detail-info {
    margin-top: 15px;
}

.dependent-pre {
    display: none;
}

.cooperation>button[data-step] {
    margin-left: 25px;
}
